{% extends "base.html" %}

{% block title %}Codelist Index{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Codelist Index</h1>

        <table id="codelists-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Brief Description</th>
                    <th>Phenotypes Used In</th>
                </tr>
            </thead>
            <tbody>
                {%- for c_id in c_ids_sorted %}
                {%- set c = codelists[c_id] %}
                <tr>
                    <td>{{ codelist_hyperlinks[c.id] | safe }}</td>
                    <td>{{ c.title }}</td>
                    <td>{{ c.brief_description }}</td>
                    <td>{{ phenotype_hyperlinks[c.id] | safe }}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#codelists-table').DataTable({
                pageLength: 25,
                order: [[0, 'asc']]
            });
        });
    </script>
{% endblock %}
