{% extends "base.html" %}

{% block title %}RSC Codelist {{ codelist.id }}{% endblock %}

{% block content %}
    <div class="container mt-4 mb-5">
        <h1 class="mt-4 mb-3">RSC Codelist: {{ codelist.id }}</h1>

        <p class="mb-1"><a href="{{ rel_path_to_logical_definition }}">Codelist Logical Definition</a></p>
        <p><a href="{{ rel_path_to_expansion }}">Codelist Expansion</a></p>

        <div class="card mt-3">
            <div class="card-body">
                {%- for line in modified_description %}
                <p>{{ line }}</p>
                {%- endfor %}
            </div>
        </div>
    </div>
{% endblock %}
