{% extends "base.html" %}

{% block title %}RSC Phenotype {{ phenotype.id }}{% endblock %}

{% block content %}
    <div class="container mt-4 mb-5">
        <div class="d-flex align-items-center justify-content-between mt-4 mb-4">
            <h1 class="mb-0">RSC Phenotype {{ phenotype.id }}</h1>
            <a href="{{ rel_path_to_help_phenotypes }}" class="btn btn-sm btn-outline-secondary ms-2">Phenotypes Help</a>
        </div>
        <div class="card">
            <div class="card-body">
                {{ rendered_description_html | safe }}
            </div>
        </div>
    </div>
{% endblock %}
